<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Reservations List</h2>
        </div>
    </div>
    <br /> <br />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    PickUpDate
                </th>
                <th>
                    DropOffDate
                </th>
                <th>Status

                </th>
                <th>
                    Car
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/reservation.js"></script>
}